h1{
    background-color: rgb(9, 9, 9);
}
h2{
    color: blue;
}
.one{
    background-color: rgb(255, 254, 252);
}
*{
    background-color: blueviolet;
}
#1{
    background-color: blueviolet;
}